body  {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://i.gifer.com/J59.gif)
   
  }
  .intro{
    color:white;
    font-size: xx-large;
    font-family: cursive;
       margin-top:20%;
       margin-left :21%;
       margin-bottom: 10%;
  }

  


  
  .card-img-top1{
    height: 49%;
    width: 100%;
  }
  .card-title{
   color:blue;

  }
  .col-sm-12 {

    margin-bottom: 10%
  }
  
  html {
    margin: 40px auto;
    text-align: center;
  }
  .btn-facebook {
      background: #3B5998;
      border-radius: 0;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #263961; 
    }
    .btn-facebook:link, .btn-facebook:visited {
      color: #fff;
    }
    .btn-facebook:active, .btn-facebook:hover {
      background: #263961;
      color: #fff;
    }

    .btn  {
      margin-top: 10%;
      margin-left: 10%
    }
    .contact{
      margin-bottom: -5%;
      margin-left: 3%;
      font-size: x-large;
    color: white;
    margin-top: 4%;
    }
    .fb{

      margin-bottom: 10%
    }